<% if manager_signed_in? %>
 <%= render 'managerindex' %>
<% elsif developer_signed_in? %>
 <%= render 'devindex' %>
<% elsif qa_signed_in? %>
 <%= render 'qaindex' %>
<% else %>
  <div class = "jumbotron d-flex align-items-center">
    <div class="container">
      <h1>Welcome to Bugzilla!</h2>
    </div>
  </div>
<% end %>
